<div class="relative w-full h-full bg-[#222222] text-white pt-8">
  <footer class="flex flex-col md:flex-row justify-around md:items-center px-4">
    <div class="logo w-1/4">
      <a class="font-extrabold uppercase text-[48px] lg:text-[72px]">Logo</a>
    </div>

    <div class="md:w-2/4 lg:w-[30%] w-full py-6">
      <p class="text-lg font-light">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla est
        purus, ultrices in porttitor in, accumsan non quam.
      </p>
    </div>
    <div class="md:w-1/4 w-full flex flex-col justify-center items-center my-6">
      <img src="./assets/socials.png" alt="social-media-icon" class="" />

      <div class="md:my-2 my-4 md:-ml-4">
        <p>Customer care</p>
      </div>

      <div class="flex items-center justify-center">
        <img src="./assets/caller.png" alt="caller-icon" class="mr-0.5 w-4" />
        <p>+233 24 123 4567</p>
      </div>
    </div>
  </footer>
</div>
