<div class="w-full h-full bg-[#f6f6f6] pb-20 font-[Roboto]">
  <div class="bg-white shadow-xl">
    <nav class="flex justify-between items-center min-h-[10vh] md:mx-10">
      <div class="logo w-full sm:w-[10%] md:w-[15%] mb-4 sm:mb-0">
        <a
          class="font-extrabold text-[#1F71BC] uppercase text-2xl cursor-pointer"
          >Logo</a
        >
      </div>

      <div
        class="items-center flex justify-around w-[14%] cursor-pointer relative"
      >
        <p class="font-normal text-[24px]">Username</p>

        <img
          class="relative w-8 h-8 rounded-full"
          src="assets/avatar.png"
          alt="user-photo"
        />
      </div>
    </nav>
  </div>

  <div class="md:mx-10 mt-20 py-10 bg-white">
    <div class="steps flex justify-center items-center md:gap-10 flex-row">
      <div class="step flex flex-col items-center">
        <span
          class="circle font-bold bg-[#1F71BC] text-white rounded-full py-3 px-5 md:py-6 md:px-8 text-xl mb-4"
          >1</span
        >
        <p class="text-[#1F71BC] font-extrabold">Checkout</p>
      </div>
      <div class="indicator w-12 md:w-28 h-1 -mt-8 flex">
        <div
          [class.bg-[#1F71BC]]="activeStep >= 1"
          [class.bg-[#D9D9D9]]="activeStep < 1"
          class="md:w-20 w-10 h-1"
        ></div>
        <div
          [class.bg-[#1F71BC]]="activeStep >= 2"
          [class.bg-[#D9D9D9]]="activeStep < 2"
          class="md:w-20 w-10 h-1"
        ></div>
      </div>
      <div class="step flex flex-col items-center">
        <span
          [ngClass]="{
            'circle font-bold text-white rounded-full py-3 px-5 md:py-6 md:px-8 text-xl mb-4': true,
            'bg-[#1F71BC]': activeStep >= 2,
            'bg-[#9EB1C3]': activeStep < 2
          }"
          >2</span
        >
        <p
          class=""
          [ngClass]="{
            'font-extrabold': true,
            'text-[#1F71BC]': activeStep >= 2,
            'text-[#9EB1C3]': activeStep < 2
          }"
        >
          Pay
        </p>
      </div>
      <div class="indicator w-12 md:w-28 h-1 -mt-8 flex">
        <div
          [class.bg-[#1F71BC]]="activeStep >= 2"
          [class.bg-[#D9D9D9]]="activeStep < 2"
          class="md:w-20 w-10 h-1"
        ></div>
        <div
          [class.bg-[#1F71BC]]="activeStep >= 3"
          [class.bg-[#D9D9D9]]="activeStep < 3"
          class="md:w-20 w-10 h-1"
        ></div>
      </div>

      <div class="step flex flex-col items-center">
        <span
          [ngClass]="{
            'circle font-bold text-white rounded-full py-3 px-5 md:py-6 md:px-8 text-xl mb-4': true,
            'bg-[#1F71BC]': activeStep >= 3,
            'bg-[#9EB1C3]': activeStep < 3
          }"
          >3</span
        >
        <p
          [ngClass]="{
            'font-extrabold': true,
            'text-[#1F71BC]': activeStep >= 3,
            'text-[#9EB1C3]': activeStep < 3
          }"
        >
          Delivery
        </p>
      </div>
    </div>
  </div>

  <div class="md:mx-10 mt-5" [ngClass]="{ hidden: activeStep > 1 }">
    <h2 class="font-bold px-3 md:px-0 text-[32px] py-4">Shipping Address</h2>

    <div class="py-10 bg-white">
      <div
        class="flex flex-col md:flex-row justify-between w-full px-4 md:px-8"
      >
        <div class="details space-y-5">
          <div
            class="flex flex-col md:flex-row md:items-center md:justify-between md:text-center w-full md:w-3/4"
          >
            <h3 class="font-bold text-[32px]">Robert Elinam</h3>
            <span> 0240 000 000</span>
          </div>
          <p>
            Western Region Sekondi Takoradi Metro Takoradi 17/8 old john saba
            road.
          </p>

          <p>Self-pick: Takoradi office</p>
        </div>
        <div class="mt-6 md:mt-0">
          <button
            class="text-white bg-[#1F71BC] py-3 px-10 cursor-pointer text-center"
          >
            Change
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="md:mx-10 mt-5" [ngClass]="{ hidden: activeStep > 1 }">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-[1fr_1.5fr_1fr_1fr_1fr] my-4 gap-10"
      *ngFor="let item of cartItems"
    >
      <div class="bg-white flex justify-center items-center p-4">
        <img [src]="item.imgSrc" alt="phone" class="w-11/12 h-auto" />
      </div>

      <div class="bg-white flex flex-col items-start p-2">
        <h2 class="font-normal text-[32px]">
          {{ item.title }}
        </h2>

        <div class="flex items-center justify-around my-3">
          <img src="./assets/seller.png" alt="" srcset="" />
          <span class="ml-4 text-[1rem]">Seller: James cottage</span>
        </div>
        <p class="text-[16px]">{{ item.available }} available</p>
        <p class="text-[16px] pt-4">
          {{ cartService.selectedSize || "M" }} Size
        </p>
      </div>

      <div class="bg-white flex flex-col justify-center items-center p-2">
        <h3 class="text-center py-4 font-bold md:text-[24px]">
          {{ item.price | currency : "GH₵ " : "symbol" : "1.2-2" : "en-US" }}
        </h3>
      </div>

      <div class="bg-white flex flex-col justify-center items-center p-2">
        <div class="flex items-center justify-center w-full my-10">
          <button
            class="bg-[#f6f6f6] text-black w-[30%] py-2 font-bold shadow-lg text-[29px]"
          >
            -
          </button>
          <button
            class="bg-white text-black w-[25%] py-2 font-bold shadow-lg text-[29px]"
          >
            1
          </button>
          <button
            class="bg-[#f6f6f6] text-black w-[30%] py-2 font-bold shadow-lg text-[29px]"
          >
            +
          </button>
        </div>
      </div>

      <div class="bg-white flex flex-col justify-center items-center p-2">
        <button
          class="text-black py-4 px-2 w-full cursor-pointer font-semibold text-center text-[20px] shadow-xl mb-4"
          (click)="removeFromCart(item)"
        >
          Remove
        </button>
      </div>
    </div>

    <div
      *ngIf="cartItems.length > 0"
      class="flex w-full h-full items-center justify-center mt-8"
    >
      <div class="bg-white w-1/2 md:w-3/4">
        <h3 class="font-bold py-4 px-2 text-[32px]">
          {{
            totalCartPrice | currency : "GH₵ " : "symbol" : "1.2-2" : "en-US"
          }}
        </h3>
      </div>
      <div class="w-1/2 md:w-1/4 bg-[#1F71BC] flex justify-center items-center">
        <button
          class="text-white py-4 px-2 cursor-pointer font-[Roboto] font-bold text-[32px] text-center"
          (click)="changeStep()"
        >
          Confirm order
        </button>
      </div>
    </div>
  </div>

  <div class="md:mx-10 mt-5" *ngIf="activeStep === 2">
    <h2 class="font-bold text-[#646464] text-[24px] pb-4">Payment Method</h2>

    <div class="grid grid-cols-1 lg:grid-cols-[7fr_5fr] gap-10">
      <div class="">
        <div class="flex justify-between w-full lg:w-1/2">
          <div
            class="flex flex-row justify-center items-center cursor-pointer"
            (click)="showDetails('visaCard')"
            [ngClass]="{
              'bg-white w-1/2 py-4': activePaymentButton === 'visaCard'
            }"
          >
            <img
              src="/assets/visa.png"
              alt="visa-card"
              class="md:mx-4 mx-2"
              [ngClass]="{ hidden: activePaymentButton !== 'visaCard' }"
            />
            <img
              src="/assets/card.png"
              alt="visa-card"
              class="mx-4"
              [ngClass]="{ hidden: activePaymentButton === 'visaCard' }"
            />
            <p
              [ngClass]="{
                'font-normal md:text-[20px]': true,
                'text-[#1F71BC]': activePaymentButton === 'visaCard',
                'text-[#646464]': activePaymentButton !== 'visaCard'
              }"
            >
              Visa
            </p>
          </div>

          <div
            class="flex flex-row justify-center items-center cursor-pointer"
            (click)="showDetails('mobileMoney')"
            [ngClass]="{
              'bg-white w-1/2 py-4': activePaymentButton === 'mobileMoney'
            }"
          >
            <img
              src="/assets/fone.png"
              alt="mobile-fone"
              class="md:mx-4 mx-2"
              [ngClass]="{ hidden: activePaymentButton !== 'mobileMoney' }"
            />
            <img
              src="/assets/mobile.png"
              alt="mobile-fone"
              class="mx-4"
              [ngClass]="{ hidden: activePaymentButton === 'mobileMoney' }"
            />
            <p
              [ngClass]="{
                'font-normal md:text-[20px]': true,
                'text-[#1F71BC]': activePaymentButton === 'mobileMoney',
                'text-[#646464]': activePaymentButton !== 'mobileMoney'
              }"
            >
              Mobile money
            </p>
          </div>
        </div>

        <div class="w-full bg-white" *ngIf="activePaymentButton === 'visaCard'">
          <form class="py-8 px-4">
            <div
              class="flex flex-col md:flex-row justify-center items-center w-full gap-4"
            >
              <div class="flex flex-col w-full shadow-md py-3 pl-4">
                <label class="text-[#9F9F9F]">Bank Name</label>
                <input
                  type="text"
                  class="outline-none border-none w-full font-bold text-black"
                  placeholder="Fidelity Bank"
                />
              </div>

              <div class="flex flex-col w-full shadow-md py-3 pl-4">
                <label class="text-[#9F9F9F]">Account Holder</label>
                <input
                  type="text"
                  class="outline-none border-none w-full font-bold text-black"
                  placeholder="Robert Elinam"
                />
              </div>
            </div>
            <div
              class="flex flex-col md:flex-row justify-center items-center w-full gap-4"
            >
              <div class="flex flex-col w-full shadow-md py-3 pl-4">
                <label class="text-[#9F9F9F]">Branch</label>
                <input
                  type="text"
                  class="outline-none border-none w-full font-bold text-black"
                  placeholder="Central Park"
                />
              </div>

              <div class="flex flex-col w-full shadow-md py-3 pl-4">
                <label class="text-[#9F9F9F]">Card Number</label>
                <input
                  type="text"
                  class="outline-none border-none w-full font-bold text-black"
                  placeholder="1 2 3 4 5 6 7 8 9 1 2 3 4"
                />
              </div>
            </div>
            <div
              class="flex flex-col md:flex-row justify-center items-center w-full gap-4"
            >
              <div class="flex flex-col w-full shadow-md py-3 pl-4">
                <label class="text-[#9F9F9F]">CVC</label>
                <input
                  type="text"
                  class="outline-none border-none w-full font-bold text-black"
                  placeholder="1 2 3"
                />
              </div>

              <div class="flex flex-col w-full shadow-md py-3 pl-4">
                <label class="text-[#9F9F9F]">Expiry Date</label>
                <input
                  type="text"
                  class="outline-none border-none w-full font-bold text-black"
                  placeholder="07/24"
                />
              </div>
            </div>
          </form>
        </div>
        <div
          class="w-full bg-white"
          *ngIf="activePaymentButton === 'mobileMoney'"
        >
          <form class="py-8 px-4">
            <div
              class="flex flex-col md:flex-row justify-center items-center w-full gap-4"
            >
              <div class="flex flex-col w-full shadow-md py-3 pl-4">
                <label class="text-[#9F9F9F]">Name</label>
                <input
                  type="text"
                  class="outline-none border-none w-full font-bold text-black mt-2"
                  placeholder="Robert Elinam"
                />
              </div>

              <div class="flex flex-col w-full shadow-md py-3 pl-4 relative">
                <label class="text-[#9F9F9F]">Mobile Service</label>

                <div
                  class="outline-none border-none w-full font-bold text-[#646464] mt-2 relative cursor-pointer"
                  (click)="showOptions = !showOptions"
                >
                  {{ selectedOption || "Select a Service" }}
                  <div
                    *ngIf="showOptions"
                    class="dropdown absolute flex flex-col left-[50%] right-[50%] -translate-x-[50%] text-center bg-white shadow-md w-3/4 mt-2"
                  >
                    <div
                      class="border-b w-full py-2 text-center cursor-pointer"
                      (click)="selectOption('MTN', $event)"
                    >
                      MTN
                    </div>
                    <div
                      (click)="selectOption('Vodafone Cash', $event)"
                      class="border-b w-full py-2 text-center cursor-pointer"
                    >
                      Vodafone Cash
                    </div>
                    <div
                      (click)="selectOption('AirtelTigo Cash', $event)"
                      class="border-b w-full py-2 text-center cursor-pointer"
                    >
                      AirtelTigo Cash
                    </div>
                  </div>

                  <img
                    src="/assets/drop.png"
                    alt="dropdown-icon"
                    class="absolute right-0 top-2 me-3 flex justify-center items-center"
                  />
                </div>
              </div>
            </div>
            <div class="flex justify-start items-start w-full md:w-1/2 gap-4">
              <div class="flex flex-col w-full shadow-md py-3 pl-4">
                <label class="text-[#9F9F9F]">Phone number</label>
                <input
                  type="text"
                  class="outline-none border-none w-full font-bold mt-2 placeholder:text-red-400"
                  placeholder="+233 24 000 0000"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="bg-white px-8">
        <h2 class="text-bold text-[#9f9f9f] py-8">Summary</h2>
        <div class="flex flex-col">
          <div class="flex flex-row justify-between border-b py-4">
            <span class="items-start">items</span>
            <span class="items-end">1</span>
          </div>

          <div class="flex flex-row justify-between border-b py-4">
            <span class="items-start">Payment Method</span>

            <span class="items-end" *ngIf="activePaymentButton === 'visaCard'"
              >Visa</span
            >
            <span
              class="items-end"
              *ngIf="activePaymentButton === 'mobileMoney'"
              >Mobile Money</span
            >
          </div>

          <div class="flex flex-row justify-between border-b py-4">
            <span class="items-start">Amount</span>
            <span> GH₵ 234456 </span>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-8 flex justify-center items-center">
      <a
        (click)="changeStep()"
        class="text-white bg-[#1F71BC] py-3 px-10 cursor-pointer font-semibold text-[20px] text-center font-[Roboto]"
      >
        Pay
      </a>
    </div>
  </div>

  <div class="md:mx-10 mt-5" *ngIf="activeStep === 3">
    <h2 class="font-bold text-[#646464] text-[24px] pl-4 pb-4 font-[Roboto]">
      Delivered to
    </h2>

    <div class="py-10 bg-white">
      <div class="flex flex-col md:flex-row justify-between px-4 md:px-8">
        <div class="details space-y-5 font-[Roboto]">
          <div
            class="flex flex-col md:flex-row md:items-center md:justify-between md:text-center w-full md:w-3/4"
          >
            <h3 class="font-bold text-[32px]">Robert Elinam</h3>
            <span> 0240 000 000</span>
          </div>
          <p>
            Western Region Sekondi Takoradi Metro Takoradi 17/8 old john saba
            road.
          </p>

          <p>Self-pick: Takoradi office</p>
        </div>

        <div class="mt-4 md:mt-0">
          <img src="/assets/car.png" alt="" srcset="" />
        </div>
      </div>
    </div>

    <div class="mt-8 ml-4 md:ml-0">
      <a
        href="/shop"
        class="text-white bg-[#1F71BC] py-3 px-10 cursor-pointer text-center"
      >
        Shop more
      </a>
    </div>
  </div>
</div>
